root = true

[*]
encoding = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[{*.py, bin/meld, setup.cfg}]
indent_style = space
indent_size = 4

[{meson.build, meson_options.txt}]
indent_style = space
indent_size = 2

[*.page]
indent_style = space

[*.{xml,json}]
indent_style = space
indent_size = 2
