recursive-include po *.po LINGUAS POTFILES.in

recursive-include data/icons/hicolor *.png
recursive-include data/icons/hicolor/scalable *.svg
recursive-include data/icons/HighContrast *.png
recursive-include data/icons/HighContrast/scalable *.svg

recursive-include help *.page *.xml

include data/gtkrc
include data/meld.appdata.xml.in
include data/meld.desktop.in
include data/mime/meld.xml.in
include data/org.gnome.meld.gschema.xml
