recursive-include po *.po LINGUAS POTFILES.in

recursive-include data/icons/hicolor/scalable *.svg
recursive-include data/icons/hicolor/symbolic *.svg

recursive-include help *.page *.xml *.po

recursive-include meld/resources README *.ui *.xml *.png *.css

include MANIFEST.in
include meld.doap
include data/org.gnome.meld.appdata.xml.in
include data/org.gnome.meld.desktop.in
include data/mime/org.gnome.meld.xml.in
include data/org.gnome.meld.gschema.xml
include meld/ui/catalog.xml
include setup_win32.py
