[Desktop Entry]
Version=1.0
Name=Meld Diff Viewer
Type=Application
Comment=Compare and merge your files.
TryExec=meld
Exec=meld
Path=/home/stephen/Projects/meld
Terminal=false

