/* Feature list */

.list-feature {
  font-size: 1.25rem;
  font-weight: 300;
  list-style-type: square;
  padding-inline-start: 1em;
}

/* Requirements list only */

.list-columns {
  column-count: 2;
  column-gap: 1em;
}

/* Rubbish carousel customisations */

.carousel-control-prev {
  margin-left: -2rem;
  width: unset;
}

.carousel-control-next {
  margin-right: -2rem;
  width: unset;
}
