
.meld-actionbar > revealer >  box {
  padding: 6px;
  border-top: none;
  border-bottom: 1px solid @borders;
}

.meld-actionbar > revealer >  box:backdrop {
  border-top: none;
  border-color: @unfocused_borders;
}

.prefs-list-widget-toolbar {
    background-image: none;
    background-color: @theme_bg_color;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: @borders;
}

link-map {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: @borders;
    background-color: @theme_bg_color;
}

action-gutter {
    background-color: @theme_bg_color;
}

meld-find-bar {
    padding: 6px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: @borders;
}

meld-status-menu-button > button {
    padding: 1px 8px 2px 4px;
    border: 0;
    outline-width: 0;
}

/* Default Adwaita notebook styling gives a much lighter background to
 * notebook children when there's more than one, but we definitely don't
 * want this.
 */
.meld-notebook > stack:not(:only-child) {
    background-color: @theme_bg_color;
}

/* Work around bad close button styling; see Meld issue #344. */
.meld-notebook > header tab  button.flat {
        margin-right: 0;
}

.meld-notebook-child {
    background-color: @theme_bg_color;
}

.meld-status-bar {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: @borders;
}

.sourcemap-container {
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: @borders;
    padding: 0 2px;
}

.new-diff-title {
    opacity: 0.5;
    font-size: 250%;
}

.new-diff-button {
    font-size: 120%;
}
