BODY {
	color: #000;
	background-color: #F5F5DC;
}
H1 {
	color: #000;
	background-color: #DEB887;
	border-style: dotted;
	padding: 0.25em;
}

H2 {
	clear: left;
}

IMG.icon {
	vertical-align: middle;
	margin-right: 1em;
}
IMG.shot {
	float: left;
	margin-right: 2em;
	vertical-align: top;
}
IMG.sflogo {
	border: 0;
}
UL {
	margin-left: 2em;
}

H3 {
	margin-left: 2em;
}

P {
	margin-left: 2em;
}

P EM {
	font-style: normal;
	font-weight: bold;
}

P.navbar {
	margin-left: 0%;
	font-weight: bold;
	color: #000;
	background-color: #DEB887;
	padding: 0.5em;
}
