
.meld-notebook-toolbar {
    background-image: none;
    background-color: @theme_bg_color;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: @borders;

    -GtkToolbar-button-relief: none;
    padding: 3px 2px 2px 2px;
}

.prefs-list-widget-toolbar {
    background-image: none;
    background-color: @theme_bg_color;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: @borders;
}

link-map {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: @borders;
    background-color: @theme_bg_color;
}

action-gutter {
    background-color: @theme_bg_color;
}

find-bar {
    padding: 6px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: @borders;
}

.meld-notebook-child {
    background-color: @theme_bg_color;
}

.meld-vc-console-pane {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: @borders;
}

.meld-status-bar {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: @borders;
}

.sourcemap-container {
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: @borders;
    padding: 0 2px;
}
